<header>
    <div class="logo">
        <h1>Web Education</h1>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="html.html">HTML</a></li>
            <li><a href="css.html">CSS</a></li>
            <li><a href="javascript.html">JavaScript</a></li>
            <li><a href="best-practices.html">Best Practices</a></li>
            <li><a href="web-technologies.html">Web Technologies</a></li>
            <li><a href="flowchart.html">Flowchart</a></li>
        </ul>
    </nav>
</header>